#* @implicitly included *#
#* @vtlvariable name="WebPath" type="ti1.utils.Path.Web" *#
#* @vtlvariable name="msg" type="ti1.utils.MessageBundle" *#
#* @vtlvariable name="users" type="java.lang.Iterable<ti1.user.User>" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#